.primaryButton {
  width: 130px;
  border: none;
  background-color: var(--color1);
  color: white;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.secondaryButton {
  width: 130px;
  border: none;
  background-color: white;
  color: var(--color1);
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}
