.primaryButton {
  width: 140px;
  border: none;
  background-color: var(--color-secundary);
  color: white;
  font-weight: 600;
  padding: 5px;
}
.secondaryButton {
  width: 140px;
  border: none;
  background-color: white;
  color: var(--color-secundary);
  font-weight: 600;
  padding: 5px;
}
