.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;
  align-items: center;

  .divContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  a,
  span {
    color: var(--color3);
    font-size: 10px;
    text-align: end;
    font-weight: bold;
  }

  .socialContainer {
    color: var(--color1);
    display: flex;
    gap: 15px;
    font-size: 30px;
    cursor: pointer;
  }
}
