.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-100-primary);
  width: 350px;
  display: flex;
  gap: 65px;
  padding-bottom: 35px;
  padding-top: 55px;

  p {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-400-primary);
  }
  .divContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      text-align: left;
      color: #da5d5d;
      font-size: 10px;
      font-weight: bold;
    }
  }

  a,
  span {
    color: var(--color-400-primary);
    font-size: 10px;
    text-align: end;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}
