.socialContainer {
  color: var(--color1);
  flex-direction: column;
  display: flex;
  gap: 15px;
  cursor: pointer;

  button {
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color5);
    color: var(--color1);
    font-weight: 600;
    svg {
      font-size: 30px;
    }
  }
}
