.pageContainer {
  main {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .toggleContainer {
      background-color: var(--color-100-primary);
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .buttonsContainer {
        display: flex;
        gap: 15px;
        button {
          background-color: var(--color-100-primary);
          border: none;
          color: var(--color-400-primary);
          font-weight: 600;
          font-size: 15px;

          &:hover {
            color: var(--color-200-primary);
          }
        }
      }

      img {
        border-radius: 50%;
        width: 100px;
      }
    }
  }
}
