.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  Input {
    border: 1px solid var(--color4);
    width: 260px;
    padding: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    &:focus {
      border-color: var(--color1);
      box-shadow: 0 0 2px rgba(33, 60, 117, 0.589);
      outline: none;
      caret-color: var(--color4);
    }
  }
  label {
    color: var(--color3);
    font-size: 13px;
    text-align: center;
    font-weight: bold;
  }
}
