:root {
  --color1: #4180ab;
  --color2: #ffffff;
  --color3: #8ab3cf;
  --color4: #bdd1de;
  --color5: #e4ebf0;

  --font: "Poppins", sans-serif;
}
body,
* {
  font-family: var(--font);
}
body, html {
  background-color: var(--color5);
}
button {
  cursor: pointer;
}